<div class="jumbotron">
  <h1 class="display-4">Welcome to “ Share Your Travels”</h1>
  <p class="lead">This social networking app was set up to let you share your travel experience, your thoughts about travel and also your wishes about travelling.</p>
    <p class="lead">The way you can start creating your posts is by simply clicking on the button below to sign up for an account. </p>
    <p class="lead">Once your logged in you can add posts, read other peple posts and amend your own posts whenever you want.</p>
  <hr class="my-4">
  <p>What are you waiting for... click the button below now.....</p>
</div>

<div class="all-btn">
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/posts" role="button">Start Chatting</a>
  </p>
</div>