<div class="jumbotron">
  <h1 class="display-4">Welcome to the blog forum “ Share Your Travels”</h1>
  <p class="lead">This blog forum was set up to let you share your travel experience, your thoughts about travel and also your wishes about travelling. The way you can start creating your posts is by simply clicking on the button below to sign up for an account. </p>
  <hr class="my-4">
  <p>Once your logged in you can add posts, read other peple posts and amend your own posts whenever you want.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Start posting</a>
  </p>
</div>
