<div class="blue-container">
  <h1 class="headings">Edit your post</h1>

  <%= render "form", post: @post %>

  <br>

  <div class="editing-posts-page">
    <%= link_to "Back to posts", posts_path, class:"btn-back-to-post" %>
  </div>

</div>

