<p style="color: green"><%= notice %></p>


<div id="posts">
  <h1 class="post_header">Chat and Share Your Travel Experiences</h1>
  <br />
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>
