
<div id="posts">
  <h1 class="post_header">Chat and Share Your Travel Experiences</h1>
  <br />
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <% if current_user.email == post.author %>
      <%= link_to "Edit this post", edit_post_path(post) %> 
      <%= button_to "Destroy this post", post, method: :delete %>
      <% end %>
    </p>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>
