
<%= render @post %>

<div>
  <%= link_to "Edit Post", edit_post_path(@post), class:"white-button" %> |
  <%= link_to "Back to posts", posts_path, class:"btn-back-to-post" %>

  <%= button_to "Delete", @post, method: :delete, class:"white-button" %>
</div>

