@import "bootstrap";
 body {
    background-image: url("background_1.jpg"); /* Background image for all pages */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}
/* Blue Box */
.blue-container {
    width: 100%;
    margin: 6% 0%;
    padding: 1% 4% 1% 4%;
    background-color: #35D4CB;
}

/*Headings*/
.headings {
    padding: 3% 0%;
}

/*General padding*/
.bottom-padding {
    padding-bottom: 5%;
    padding-top: 3%;
}

/* Buttons */
.btn.btn-primary.btn-lg {
    background-color: #101010;
    border-color: #101010;
    margin-top: -5%;
    transition: 0.4s ease-in-out;
}
.btn.btn-primary.btn-lg:hover {
    background-color: #35D4CB;
    transform: scale(1.0);
    border-color: #35D4CB;
}
.black-button {
    background-color: #101010;
    border-color: #101010;
    color: #35D4CB;
    text-decoration: none;
    padding: 1% 3%;
    font-weight: 600;
    margin: 1% 0%;
    border-style: solid;
    border: 0px 5px;
}
.black-button:hover {
    background-color: #ffffff;
    border-color: #35D4CB;
    color: #101010;
    border-style: solid;
    border: 0px 5px;
}
.white-button {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #101010;
    text-decoration: none;
    padding: 1% 3%;
    font-weight: 600;
    margin: 2.5% 0% 0% 0%;
    border-style: solid;
    border: 0px 5px;
}
.white-button:hover {
    background-color: #101010;
    color: #35D4CB;
    border-color: #35D4CB;
}

.black-button.login-signup {
    margin: 2% 0% 5% 0%;
}

/* NavBar */
.container-fluid {
    padding: 0px;

    .nav-item{
        margin: 0px 15px;
        background-color: #101010;
    }
}
/*log in page */
.log-in-sign-up-screen {
    width: 60%;
    margin: 6% 20% ;
    padding: 2% 4% 5% 4%;
    background-color: #35D4CB;
}

.fields {
    width: 100%;
    padding: 8px 0px;
    margin-bottom: 4%;
}
.fields-1 {
    width: 80%;
    padding: 8px 0px;
    margin-bottom: 4%;
}

/*Post Page Styling */
#posts {
    width: 100%;
    background-color: #35D4CB;
    margin-top: 5%;
    padding: 4% 0% 6% 0%;

    .post_header {
        text-align: center;    
    }

    .author{
        background-color: #ffffff; 
        display: flex;
        width: 60%;
        flex-direction: column;
        float: left;
        margin-bottom: 2%;
        padding: 0.5% 1%;
        font-weight: 600;
    }
    .post-date{
        background-color: #ffffff; 
        display: flex;
        width: 35%;
        flex-direction: column;
        float: right;
        margin-bottom: 2%;
        padding: 0.5% 1%;
        font-weight: 600;
    }
    .comment{
        background-color: #ffffff; 
        width: 100%;
        min-height: 15vh;
        display: flex;
        flex-direction: column;
        padding: 1% 1%;
    }
    
    .btn-edit {
        width: 10%;
        background-color: #ffffff;
        border-color: #ffffff;
        color: #101010;
        text-decoration: none;
        font-weight: 700;
        border-style: solid;
        border: 0px 5px;
        text-align: center;
        font-size: 15px;
        float: right;
        margin: -6% 16% 0% 16%;
    }
    .btn-edit:hover {
        background-color: #101010;
        color: #35D4CB;
        border-color: #35D4CB;
    }

    .btn-delete {
        width: 10%;
        background-color: #ffffff;
        border-color: #ffffff;
        color: #101010;
        text-decoration: none;
        font-weight: 700;
        border-style: solid;
        border: 0px 5px;
        text-align: center;
        font-size: 15px;
        float: right;
        margin: -6% 4% 0% 4%;
    }
    .btn-delete:hover {
        background-color: #101010;
        color: #35D4CB;
        border-color: #35D4CB;
    }
    .new-post-btn {
        background-color: #ffffff;
        border-color: #ffffff;
        color: #101010;
        text-decoration: none;
        padding: 1% 3%;
        font-weight: 600;
        margin-left: 4%;
        border-style: solid;
        border: 0px 5px;
    }
    .new-post-btn:hover {
        background-color: #101010;
        color: #35D4CB;
        border-color: #35D4CB;
    }

}

/* Create new post page */
.btn-back-to-post {
    width: 10%;
    background-color: #101010;
    border-color: #101010;
    color: #35D4CB;
    text-decoration: none;
    font-weight: 700;
    border-style: solid;
    border: 0px 5px;
    text-align: center;
    font-size: 15px;
    padding: .5% 1%;
}
.btn-back-to-post:hover {
    background-color: #ffffff;
    color: #101010;
    border-color: #ffffff;
}
    
/* Editing post page */
.post-box {
    width: 90%;
    padding: 1%;
    min-height: 30vh;
}
.editing-posts-page {
    padding: 3% 0% 5% 0%;
}

/*Edit Profile Page*/
.field-2 {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding-bottom: 2%;
}
.field-3 {
    display: flex;
    flex-direction: column;
    float: left;
    width: 40%;
    padding-bottom: 2%;
}
.field-4 {
    display: flex;
    flex-direction: column;
    float: right;
    width: 40%;
    margin: 0% 10%;
    padding-bottom: 2%;
}
.field-5 {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding-bottom: 2%;
}
.position-user {
    margin-top: 5%;
}
.position-user.back {
    margin-top: 12%;
    width: 90%;
}
.btn-update-profile {
    width: 90%;
    background-color: #ffffff;
    border-color: #ffffff;
    color: #101010;
    text-decoration: none;
    padding: 2% 4%;
    font-weight: 600;
    margin: 4% 0% 5% 5%;
    border-style: solid;
    border: 0px 5px;
}
.btn-update-profile:hover {
    background-color: #101010;
    color: #35D4CB;
    border-color: #35D4CB;
}
input {
    padding: 1% 3% 1% 1%;
}

/*Password reset*/
.forgot-password {
    width: 60%;
}
.btn-multi-links {
    font-weight: 600;
    text-decoration: none;
    color: #101010;
}
